.flash {
    padding: 10px;
    margin-bottom: 10px;
  }
  
  .flash.notice {
    background-color: #e2f0ff;
    color: #0366d6;
  }
  
  .flash.alert {
    background-color: #ffe5e5;
    color: #d73a49;
  }
  